.tenzies--roll-button {
  background: #5035ff;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 4px;
  border: none;
  margin-top: 48px;
  font-weight: 700;
  font-size: 16.384px;
  color: #fff;
  padding: 18px 48px;
  text-align: center;
  cursor: pointer;
}
